<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>connectMD</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-xl-flex" style="background-color: #ffffff;filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%);">
        <div class="container">
            <div><a class="navbar-brand" href="#" style="margin-right: 0;"><img src="assets/img/Logo-nav.png" style="margin-left: 0;"><br></a></div><button data-toggle="collapse" class="navbar-toggler float-none align-items-sm-end" data-target="#navcol-1" style="margin-left: 14px;padding: 0px;padding-right: 7px;padding-left: 6px;margin-top: 0px;height: 40px;margin-bottom: -11px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 22px;margin: 0px;">
                    <li class="nav-item" role="presentation" style="padding: 0px;padding-right: 13px;"><a class="nav-link" href="about.html" style="font-family: Antic, sans-serif;font-size: 24px;">Our Story</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="faq.html" style="padding-right: 25px;font-family: Antic, sans-serif;font-size: 24px;">FAQs</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: -41px;"><a class="nav-link orange-border-button orange-font" id="orange-font" href="#">Book Now</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img src="assets/img/Icon-what-were-about.png" style="margin: 10px;"></div>
            </div>
            <div class="row">
                <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                    <h1 style="font-family: Antic, sans-serif;margin-top: 20px;">What We're About</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center d-flex d-xl-flex justify-content-xl-center">
                    <p style="font-family: Antic, sans-serif;font-size: 19px;"><br>We believe that quality healthcare shouldn’t give you a headache. That’s&nbsp;why we decided to cut out <br>the in-office doctor visits and provide patients an easier, more cost-effective way to feel better. <br>We connect patients
                        to providers virtually, so that you can feel better faster. It’s simple: fill out the <br>form, video chat with a doctor and have your prescriptions sent directly to your local pharmacy. <br>It’s that easy—it’s EasyConnectMD.<br><br></p>
                </div>
            </div>
        </div>
    </section>
    <div class="justify-content-center align-items-center align-self-center orange-box">
        <div class="d-xl-flex justify-content-xl-center">
            <h1 class="text-center" style="font-weight: normal;color: rgb(255,255,255);padding-top: 10px;font-family: Antic, sans-serif;">Skip the line, Go online.<br></h1>
        </div>
        <div class="text-center">
            <p style="background-color: rgba(0,0,0,0);color: #ffffff;font-size: 20px;font-family: Antic, sans-serif;">A doctor is ready to chat right now.<br></p>
        </div>
        <div class="d-flex d-xl-flex justify-content-center justify-content-xl-center"><button class="btn btn-primary border rounded-0 shadow-sm orange-box-button" type="button" style="color: #ffffff;border: 2px solid #ffa500;background-color: rgba(0,0,0,0);font-size: 22px;margin: 0px;padding-top: 11px;padding-bottom: 11px;padding-right: 20px;padding-left: 20px;font-family: Antic, sans-serif;">Connect for just $39.95</button></div>
        <div
            class="text-center">
            <p style="background-color: rgba(0,0,0,0);color: #ffffff;font-family: Antic, sans-serif;">No insurance required</p>
    </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img src="assets/img/Logo-footer.png"></div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 0px;padding-top: 1px;font-family: Antic, sans-serif;">made in Germany</p>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 50px;font-family: Antic, sans-serif;">Easy Connect MD © 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><a id="privacy-policy" href="privacyPolicy.html" style="color: rgb(122,122,122);font-family: Antic, sans-serif;">Privacy Policy</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>