Django>=3.0.6
#python-dev
#libpq-dev
psycopg2>=2.8.6
phonenumbers>=8.12.19
twilio>=6.53.0
six>=1.15.0
PyJWT>=1.7.1
pip>=21.0.1
pytz>=2021.1
redis>=3.5.3
python-dateutil>=2.8.1
requests>=2.25.1
sqlparse>=0.4.1
asgiref>=3.3.1
deprecation>=2.1.0
CacheControl>=0.12.6
urllib3>=1.26.3
jsonpickle>=0.9.6
certifi>=2020.12.5
chardet>=4.0.0
idna>=2.10
pyparsing>=2.4.7
setuptools>=54.1.1
msgpack>=1.0.2
packaging>=20.9
django-appconf>=1.0.4