.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

#privacy-policy {
  text-decoration: underline;
}

.orange-block {
  display: inline-block;
}

.btn.btn-primary.border.rounded-0.shadow-sm.orange-box-button {
  max-width: 80%;
}

#terms {
  border: 1px solid lightgray;
}

.form-control {
  margin-top: 1em;
  margin-bottom: 1em;
}

.seperator {
  border: 1px solid #299869;
}

#light {
  border: 1px dotted lightgrey;
}

.button-links:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

.button-links {
  text-decoration: none;
  color: #ffa500;
}

.list-group-item + .list-group-item {
  border: none;
}

.list-group-item:first-child {
  border: none;
}

.button-white {
  text-decoration: none;

  background-color: transparent;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-white:hover {
  text-decoration: none;
  color: #fff !important;
  background-color: #ffa500;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-white:active {
  text-decoration: none;
  color: #ffa500 !important;
  background-color: transparent !important;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-orange:hover {
  text-decoration: none;
  color: #ffa500 !important;
  background-color: #ffffff;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-orange {
  text-decoration: none;
  color: #ffa500 !important;
  background-color: #ffa500;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-orange:active {
  text-decoration: none;
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border: 2px solid #ffa500 !important;
  padding: 0;
}

.button-base:hover {
  text-decoration: none;
  color: #ffa500 !important;
  background-color: transparent;
}

.link-base {
  text-decoration: none;
  display: block;
  padding: 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
}

.link-base:hover {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
}

.orange-btn {
  color: #fff;
}

.orange-btn:hover {
  color: #ffa500;
  display: block;
}

.orange-btn:active {
  color: #fff;
}

.btn.btn-primary.border.rounded-0.shadow.button-base {
}

.button-transparent {
  color: #ffa500;
}

.button-transparent:hover {
  color: #ffffffff;
}

#nav-button {
  font-size: 1.4em;
  font-weight: 550;
}

.navi-item {
  padding-top: 0.8em;
  margin-right: 0.8em;
}

#orange-box-button:hover {
  border: 2px solid #fff !important;
  background-color: #fff;
}

#orange-box-button {
  border: 2px solid #fff !important;
}

.orange-box-font {
  color: #fff;
}

#orange-box-div {
  margin-top: 4em;
}

#orange-box-link:hover {
  color: #01986a;
}

.easy-cards-p {
  font-size: 1.2em;
}

#section-3 {
  background-color: #f2f2f2;
  padding: 2em;
}

#section-1-heading {
  font-weight: 600;
}

#section-1-link {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

p {
  font-size: 1.2em;
}

.section-2-cards {
}

.connect-button {
  margin-left: 1em;
  margin-right: 1em;
}

#previous-button:hover {
  color: #fff;
}

#previous-button {
  color: lightgrey;
}

#previous {
  border: 2px solid lightgrey !important;
}

@media (min-width: 768px) {
  .input-wrapper {
    display: flex;
  }
}

@media (min-width: 768px) {
  .half-width {
    width: 48%;
    margin-right: 2%;
  }
}

@media (min-width: 768px) {
  .form-group-wrapper {
    display: flex;
  }
}

@media (min-width: 768px) {
  .container-wrapper {
    width: 42em;
  }
}

.three-headings {
  font-size: larger;
}

.videoChat {
  background-color: grey;
}

#chatSection {
  margin: 1em;
}

body {
}

#videoBody {
  margin-top: -120px;
}

#map-card-container {
  margin: 0.5em;
}

#white-button {
  background-color: white;
}

#white-button:hover {
  background-color: #ffa500;
}

#location-link {
  color: white;
}

#location-link:hover {
  text-decoration: none;
}

.videoChat {
  background-color: grey;
}

#chatSection {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.chat_container {
  margin-left: auto;
  margin-right: auto;
  width: 60%
}

#videoBody {
  margin-top: -120px;
}

#location-link {
  color: white;
}

#location-link:hover {
  text-decoration: none;
}

.tab-style {
  padding: 1em;
}

.smaller-field {
  margin-right: 2%;
}

.bold-h6 {
  font-weight: 600;
}

.appointment {
  font-size: small;
}

#docviewleft {
  width: 60%;
}

#docviewright {
  width: 40%;
}

.dark-grey {
  background-color: #a8a8a8;
}

.light-grey {
  background-color: #dfdfdf;
}

#prevapps p {
  font-size: 0.8em;
}

.dark-grey p {
  font-weight: 600;
}

#prevapps {
  border: 1px solid lightgrey;
}

.chatSection {
  width: 100%;
  padding-top: 67.6%;
  position: relative;
}

.video-buffer {
  width: 100%;
  padding-top: 67.6%;
}
.button-buffer{
  margin-top: 40px;
}

.participant-overlay video{
  width: 20%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 3;
}

.remote {
  min-width: 100px;
  width: 100%;
}

.remote video {
  min-width: 100px;
  width: 100%;
  position: absolute;
  background-color: #4e555b;
  top: 0;
  left: 0;
  z-index: 2;
}

.participant {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 100%;
  height: 100%;
}

.participant div {
  text-align: center;
}

.participant video {
  width: 100%;
  height: 100%;
  background-color: #4e555b;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
