.social-icons {
  color: #0A486A;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.social-icons i {
  font-size: 40px;
  display: inline-block;
  color: #ffffff;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

