{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>connectMD</title>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/assets/css/styles.css">
</head>

<body style="background-image: url(&quot;assets/img/Image-waiting-room.jpg&quot;);">
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-xl-flex" style="background-color: #ffffff;filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%);">
        <div class="container">
            <div><a class="navbar-brand" href="#" style="margin-right: 0;"><img src="{% get_static_prefix %}EasyConnect/assets/assets/img/Logo-nav.png" style="margin-left: 0;"><br></a></div><button data-toggle="collapse" class="navbar-toggler float-none align-items-sm-end" data-target="#navcol-1" style="margin-left: 14px;padding: 0px;padding-right: 7px;padding-left: 6px;margin-top: 0px;height: 40px;margin-bottom: -11px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 22px;margin: 0px;">
                    <li class="nav-item" role="presentation" style="padding: 0px;padding-right: 13px;"><a class="nav-link" href="{% url 'our-story' %}" style="font-family: Antic, sans-serif;font-size: 24px;">Our Story</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'faq' %}" style="padding-right: 25px;font-family: Antic, sans-serif;font-size: 24px;">FAQs</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: -41px;"><a class="nav-link orange-border-button orange-font" id="orange-font" href="{% url 'connect-with-a-doctor' %}">Book Now</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section>
        <div>
            <h1>Connect with a doctor</h1>
            <h4>Less than 10 questions and 10 minutes to get connected with a doctor.<br></h4>
            <p><br> <strong>1.</strong> About you <br><br></p>
            <p><br> <strong>2.</strong> Symptoms &amp; Payment <br><br></p>
            <p><br> <strong>3.</strong> Video Chat <br><br></p>
            <p><br>Terms of Service*<br><br></p>
            <div class="container">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="First Name*" required=""></div>
                    <div class="col"><input type="text" class="form-control" placeholder="Last Name*" inputmode="latin-name" required=""></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="Phone*" inputmode="tel" required=""></div>
                    <div class="col"><input type="text" class="form-control" placeholder="Email*" inputmode="email" required=""></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col"><label class="col-form-label">Birthday*</label></div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="date" style="font-family: Antic, sans-serif;" required=""></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col"><label class="col-form-label">Sex*</label></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex align-items-xl-center">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Male</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Female</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="Street address*" inputmode="tel" required=""></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="Address line 2" inputmode="tel"></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="Street address*" inputmode="tel" required=""></div>
                    <div class="col">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown </button>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" class="form-control" placeholder="Street address*" inputmode="tel" required=""></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col"><label class="col-form-label">Preffered Pharmacy</label></div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="text" class="form-control" placeholder="Preferred Pharmacy Name*" inputmode="tel" required=""></div>
                            <div class="col"><input type="text" class="form-control" placeholder="Preferred Pharmacy Phone*" inputmode="tel" required=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col text-center"><button class="btn btn-primary" type="submit" style="font-family: Antic, sans-serif;font-size: 21px;">Submit</button></div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img src="{% get_static_prefix %}EasyConnect/assets/assets/img/Logo-footer.png"></div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 0px;padding-top: 1px;font-family: Antic, sans-serif;">made in Germany</p>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 50px;font-family: Antic, sans-serif;">Easy Connect MD © 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><a id="privacy-policy" href="privacyPolicy.html" style="color: rgb(122,122,122);font-family: Antic, sans-serif;">Privacy Policy</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% get_static_prefix %}EasyConnect/assets/assets/js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>