{%  load static %}
{% load math_filters %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/google_map.css">

    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Social-Icons.css">

    {% include 'EasyConnect/tracking_codes.html' %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDhdlOWJynJ3hq34ZhiIY7bMegpWSN3FE&callback=initMap&libraries=places&v=weekly"
            defer
    ></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/nearbyPharmacies.js"></script>
    <script type="text/javascript" src="{{ square_js_url }}"></script>
</head>

<body style="background-image: url('{% get_static_prefix %}EasyConnect/assets/img/Image-waiting-room.jpg');background-size: cover;background-repeat: no-repeat;padding-top: 5em; background-attachment: fixed; background-position: center;">
    <div class="d-md-flex justify-content-md-center" style="margin-right: 10%;margin-left: 10%;">
        <section class="container-wrapper" style="background-color: #ffffff;padding-bottom: 4em;">
            <div style="margin-right: 10%;margin-left: 10%;">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h1 style="margin-top: 1em;margin-bottom: 1em;">Connect with a doctor</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h5><br>Less than 10 questions and 10 minutes to get connected with a doctor.<br><br></h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 0;margin-bottom: 0;">
                        <div class="col text-center d-sm-flex align-items-sm-end m-sm-auto justify-content-lg-center"><span style="padding-right: 1em;padding-left: 1em;"><br>1.About you<br><br></span><span style="padding-right: 1em;padding-left: 1em;"><br><br>2.Symptoms &amp; Payment<br><br></span><span style="padding-right: 1em;padding-left: 1em;"><br><br>3.Video Chat<br><br></span></div>
                    </div>
                    <div class="row" style="margin-top: 1em;">
                        <div class="col">
                            <h5>2.Symptoms &amp; Payment<br></h5>
                            <div class="seperator"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5></h5>
                        </div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if symptom_form.errors or pharmacy_form.errors or payment_form.errors or payment_errors %}
                        <div class="form-group-wrapper">
                            {{ symptom_form.errors }}
                            {{ pharmacy_form.errors }}
                            {{ payment_form.errors }}
                            {% for payment_error in payment_errors %}
                                {{ payment_error }}
                            {% endfor %}
                        </div>
                        {%  endif %}
                        <div class="row">
                            <div class="col"><label class="col-form-label">Describe your symptoms*</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="height: 6em;">{{ symptom_form.symptom_description }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label">Known drug or food allergies*</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="height: 6em;">{{ symptom_form.allergies }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label">Current Medications and Doses*</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="height: 6em;">{{ symptom_form.medications }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label">Have you been diagnosed with any of the following?*</label></div>
                        </div>
                        <div class="row ul-no-bulletpoints">
                            <div class="col">
                                {{ symptom_form.previous_diagnosis }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>Choose Your Preferred Pharmacy</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="height: 25em">
                                <div id="map"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin-top: 1em; height: 15em"><label>Preferred Pharmacy</label>
                                <div id="panel">
                                    <input type="checkbox" id="custom_pharmacy" value="Don't see your pharmacy?" onclick="allowCustomPharmacy()">
                                    <label for="custom_pharmacy">Don't see your pharmacy?</label>
                                    {{ pharmacy_form.pharmacy_name }}
                                    {{ pharmacy_form.pharmacy_address }}
                                    {{ pharmacy_form.pharmacy_phone }}
                                </div>
                            </div>
                        </div>
                        {% if affiliate.affiliate_name == "EasyConnect" %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">{{ coupon_form.code }}</div>
                                <input  type="button" style="background-color: rgb(255,255,255);color: #ffa500;border: 2px solid #ffa500 !important;"
                                                    value="Apply" onclick="applyCoupon(event)"/>
                            </div>
                            <div class="col">
                                <div id='coupon-status' class="d-none form-group" style="padding-top: 1.25em"></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row" style="margin-top: 1em">
                            <div class="col"><label style="margin-left: 0.6rem;">Total</label>
                                <div><span id="cost" style="margin-left: 0.5em;color: #ffa500;">
                                    {% if patient_cost.cost|add:"0" <= 0  %}
                                        <strike>$ {{ affiliate.affiliate_price|div:100 }}</strike> Free
                                    {% else %}
                                        ${{ patient_cost.cost|div:100 }}
                                    {% endif %}
                                </span></div>
                            </div>
                        </div>
                        {% if patient_cost.cost|add:"0" <= 0  %}
                        <div class="row d-none" id="card-container">
                        {% else %}
                        <div class="row" id="card-container">
                        {% endif %}
                            <div class="col">
                                <div class="row">
                                     <div id="form-container">
                                         <div id="sq-card"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="row seperator" id="light">
                            <div class="col hidden">
                                <div id="zipcode">{{ zip }}</div>
                                <div id="nonce">{{ payment_form.nonce }}</div>
                                <div id="patient_id">{{ patient_id }}</div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col d-lg-flex">
                                <input class="btn btn-primary border rounded-0 connect-button button-credit-card" type="submit" style="background-color: rgb(255,255,255);color: #ffa500;border: 2px solid #ffa500 !important;"
                                                    value="Proceed to Video Chat" onclick="onGetCardNonce(event)"/>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="margin-top: 3em;margin-bottom: 0;">
                        <div class="col text-center d-sm-flex align-items-sm-end m-sm-auto justify-content-lg-center">
                            <span style="padding-right: 1em;padding-left: 1em;"><br>1.About you<br><br></span>
                            <span style="padding-right: 1em;padding-left: 1em;"><br><br>2.Symptoms &amp; Payment<br><br>
                            </span><span style="padding-right: 1em;padding-left: 1em;"><br><br>3.Video Chat<br><br></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'EasyConnect/standard-footer.html' %}
    <script src="{% get_static_prefix %}EasyConnect/assets/js/paymentForm.js"></script>
    {% if affiliate.affiliate_name == "EasyConnect" %}
    <script src="{% get_static_prefix %}EasyConnect/assets/js/coupon.js"></script>
    {% endif %}
</body>

</html>