{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">
</head>

<body style="padding-top: 0;">
    {% include 'EasyConnect/provider_navbar.html' %}
    <div style="padding-top: 7.5em">
        <p>Hello, {{ user.username|default:'Guest' }}!</p>
        {% if user.is_authenticated %}
            <div class="container">
                <h6>Appointments - Ready for Provider</h6>
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Patient Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created at</th>
                            <th scope="col">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for ready_appointment in ready_appointments %}
                        <tr>
                            <td>
                                <a href="{% url 'easyconnect:provider-view' ready_appointment.patient_id %}">{{ ready_appointment.patient_name }}</a>
                            </td>
                            <td>
                                {{ ready_appointment.patient_dob }}
                            </td>
                            <td>
                                {{ ready_appointment.appointment_status }}
                            </td>
                            <td>
                                {{ ready_appointment.created_at|timezone:"US/Central" }}
                            </td>
                            <td>
                                {{ ready_appointment.patient_id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p></p>
            <div class="container">
                <h6>Appointments - Active</h6>
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Patient Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Status</th>
                            <th scope="col">Being Seen By</th>
                            <th scope="col">Created at</th>
                            <th scope="col">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for active_appointment in active_appointments %}
                        <tr>
                            <td>
                                <a href="{% url 'easyconnect:provider-view' active_appointment.patient_id %}">{{ active_appointment.patient_name }}</a>
                            </td>
                            <td>
                                {{ active_appointment.patient_dob }}
                            </td>
                            <td>
                                {{ active_appointment.appointment_status }}
                            </td>
                            <td>
                                {{ active_appointment.seen_by }}
                            </td>
                            <td>
                                {{ active_appointment.|timezone:"US/Central" }}
                            </td>
                            <td>
                                {{ active_appointment.patient_id }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <p></p>
            <div class="container">
                <h6>Appointments - Completed</h6>
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Patient Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Status</th>
                            <th scope="col">Seen By</th>
                            <th scope="col">Created at</th>
                            <th scope="col">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for completed_appointment in completed_appointments %}
                        <tr>
                            <td>
                                <a href="{% url 'easyconnect:provider-view' completed_appointment.patient_id %}">{{ completed_appointment.patient_name }}</a>
                            </td>
                            <td>
                                {{ completed_appointment.patient_dob }}
                            </td>
                            <td>
                                {{ completed_appointment.appointment_status }}
                            </td>
                            <td>
                                {{ completed_appointment.seen_by }}
                            </td>
                            <td>
                                {{ completed_appointment.created_at|timezone:"US/Central" }}
                            </td>
                            <td>
                                {{ completed_appointment.patient_id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Please <a href="{% url 'easyconnect:login' %}">login</a> to perform any actions.
        {% endif %}
    </div>
    {% include 'EasyConnect/provider_footer.html' %}
</body>
</html>