{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">
</head>

<body style="padding-top: 0;">
    {% include 'EasyConnect/provider_navbar.html' %}
    <div style="padding-top: 7.5em">
        <p>Hello, {{ user.username|default:'Guest' }}!</p>
        {% if user.is_authenticated %}
            <div class="container">
                <h6>Appointments - Ready for Provider</h6>
                <div class="row">
                    <div class="col dark-grey">
                        <p>Patient Name</p>
                    </div>
                    <div class="col dark-grey">
                        <p>DOB</p>
                    </div>
                    <div class="col dark-grey">
                        <p>Status</p>
                    </div>
                    <div class="col dark-grey">
                        <p>ID</p>
                    </div>
                </div>
                {%  for ready_appointment in ready_appointments %}
                    <div class="row">
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p><a href="{% url 'easyconnect:provider-view' ready_appointment.patient_id %}">{{ ready_appointment.patient_name }}</a></p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ ready_appointment.patient_dob }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ ready_appointment.appointment_status }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ ready_appointment.patient_id }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p></p>
            <div class="container">
                <h6>Appointments - Active</h6>
                <div class="row">
                    <div class="col dark-grey">
                        <p>Patient Name</p>
                    </div>
                    <div class="col dark-grey">
                        <p>DOB</p>
                    </div>
                    <div class="col dark-grey">
                        <p>Appointment Status</p>
                    </div>
                    <div class="col dark-grey">
                        <p>Being Seen By</p>
                    </div>
                    <div class="col dark-grey">
                        <p>ID</p>
                    </div>
                </div>
                {%  for active_appointment in active_appointments %}
                    <div class="row">
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p><a href="{% url 'easyconnect:provider-view' active_appointment.patient_id %}">{{ active_appointment.patient_name }}</a></p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ active_appointment.patient_dob }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ active_appointment.appointment_status }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ active_appointment.seen_by }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ active_appointment.patient_id }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p></p>
            <div class="container">
                <h6>Appointments - Completed</h6>
                <div class="row">
                    <div class="col dark-grey">
                        <p>Patient Name</p>
                    </div>
                    <div class="col dark-grey">
                        <p>DOB</p>
                    </div>
                    <div class="col dark-grey">
                        <p>Appointment Status</p>
                    </div>
                    <div class="col dark-grey">
                        <p>Seen By</p>
                    </div>
                     <div class="col dark-grey">
                        <p>ID</p>
                    </div>
                </div>
                {%  for completed_appointment in completed_appointments %}
                    <div class="row">
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p><a href="{% url 'easyconnect:provider-view' completed_appointment.patient_id %}">{{ completed_appointment.patient_name }}</a></p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ completed_appointment.patient_dob }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ completed_appointment.appointment_status }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ completed_appointment.seen_by }}</p>
                        </div>
                        <div class="col {{forloop.counter|divisibleby:2|yesno:",light-grey"}}">
                            <p>{{ completed_appointment.patient_id }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Please <a href="{% url 'easyconnect:login' %}">login</a> to perform any actions.
        {% endif %}
    </div>
    {% include 'EasyConnect/provider_footer.html' %}
</body>

</html>