{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>connectMD</title>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-xl-flex" style="background-color: #ffffff;filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%);">
        <div class="container">
            <div><a class="navbar-brand" href="{% url 'easyconnect:index' %}" style="margin-right: 0;"><img src="{% get_static_prefix %}EasyConnect/assets/img/Logo-nav.png" style="margin-left: 0;"><br></a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="margin-left: 14px;padding: 0px;padding-right: 7px;padding-left: 6px;margin-top: 0px;height: 40px;margin-bottom: -11px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 22px;margin: 0px;">
                    <li class="nav-item" role="presentation" style="padding: 0px;padding-right: 13px;"><a class="nav-link" href="{% url 'easyconnect:our-story' %}" style="font-family: Antic, sans-serif;font-size: 24px;">Our Story</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'easyconnect:faq' %}" style="padding-right: 25px;font-family: Antic, sans-serif;font-size: 24px;">FAQs</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: -41px;"><a class="nav-link orange-border-button orange-font" id="orange-font" href="{% url 'easyconnect:connect-with-a-doctor' %}">Book Now</a></li>
                </ul>
        </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row d-lg-flex">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img src="{% get_static_prefix %}EasyConnect/assets/img/Logo-footer.png"></div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 0px;padding-top: 1px;font-family: Antic, sans-serif;">made in Germany</p>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 50px;font-family: Antic, sans-serif;">Easy Connect MD © 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><a id="privacy-policy" href="{% url 'easyconnect:privacy-policy' %}" style="color: rgb(122,122,122);font-family: Antic, sans-serif;">Privacy Policy</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>