{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">
</head>

<body style="padding-top: 0;">
    {% include 'EasyConnect/provider_navbar.html' %}
    <div style="padding-top: 7.5em">
    Hello, {{ user.username|default:'Guest' }}!
    {% if user.is_authenticated %}
        <div class="container">
            <h6>Select file for loading ICD10 Codes</h6>
            <form method="post" enctype="multipart/form-data">
                {%  csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% else %}
        <div class="container">
            <a href="{% url 'easyconnect:login' %}">Login</a>
        </div>
    {% endif %}
    </div>
    {% include 'EasyConnect/provider_footer.html' %}
</body>

</html>