{% load static %}
{% load math_filters %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KellumConnectMD | Our Story</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">

    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Social-Icons.css">

    {% include 'EasyConnect/tracking_codes.html' %}
</head>

<body>
    {% include 'EasyConnect/standard_navbar.html' %}

    <section class="section connect">
        <div class="container" style="padding-bottom: 1em">
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <h1 style="font-family: Antic, sans-serif;margin-top: 20px; font-size: 2em;">About KellumConnectMD.com Virtual Weight Loss Clinic</h1>
            </div>
            <div class="row">
                <div class="col-xl-9 d-xl-flex justify-content-xl-center align-items-xl-center" style="padding-left: 10%">
                    <div>
                        <div class="col-sm d-xl-flex justify-content-xl-center align-items-xl-center fade-in">
                            <p style="font-family: Antic, sans-serif;font-size: 19px; padding-left: 1em">
                                The KellumConnectMD.com Virtual Weight Loss Clinic has been established to serve as a
                                tool for Texans to work on weight loss issues.  This virtual weight loss clinic is the
                                evolution of the telemedicine program originated by Dr. Daniel H. Kellum Jr. MD, a
                                Board-Certified Family Practice physician.<br><br>

                                Powered by Kellum Family Medicine, a medical practice rooted in the San Antonio Texas
                                Community for over 40 years, the KellumConnectMD.com Virtual Weight Loss Clinic will
                                specialize in long term preventive and proactive care.  This virtual clinic was
                                established as a platform to provide a low cost and effective way for our patients to
                                battle weight loss by utilizing secure telemedicine technology along with the most
                                innovative weight loss medications and treatments available.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-sm-flex align-items-sm-end fade-in">
                    <img class="rounded-circle mx-auto d-block" src="{% static 'EasyConnect/assets/img/DRKELLUM-300x300.png' %}" alt="Photo of Doctor Kellum">
                </div>
            </div>
        </div>

    </section>
    <section id="section-2">
        <div class="container" style="padding-bottom: 1em">
            <div class="col fade-in d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <h1 style="font-family: Antic, sans-serif;margin-top: 20px; font-size: 2em;">Why Visit the KellumConnectMD.com Virtual Weight Loss Clinic</h1>
            </div>
            <div class="row">
                <div class="col-xl d-xl-flex justify-content-xl-center align-items-xl-center" style="padding-left: 10%">
                    <div>
                        <div class="col-sm d-xl-flex justify-content-xl-center align-items-xl-center fade-in">
                            <p style="font-family: Antic, sans-serif;font-size: 19px; padding-left: 1em">
                                Through the advanced technology uses of telemedicine, The KellumConnectMD.com Virtual
                                Weight Loss Clinic provides patients with a secure portal to see a licensed medical
                                provider to seek an affordable and consistent weight loss program.  For only
                                ${{ affiliate.affiliate_price|div:100 }} per
                                month, a medical provider can asses your medical history, and provide you with an
                                affordable weight loss program which can include some of the most affective weight
                                loss medications on the market through our partnering pharmacies.  This type of
                                convenience keeps you out of crowded clinics and provides you with the highest levels
                                of anonymity, affordability and accessibility when dealing with this sensitive medical
                                issue.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="justify-content-center align-items-center align-self-center orange-box">
        <div class="d-xl-flex justify-content-xl-center fade-in">
            <h1 class="text-center" style="font-weight: normal;color: rgb(255,255,255);padding-top: 10px;font-family: Antic, sans-serif;">Skip the line, Go online.</h1>
        </div>
        <div class="text-center fade-in">
            <p style="background-color: rgba(0,0,0,0);color: #ffffff;font-size: 20px;font-family: Antic, sans-serif;">A doctor is ready to chat right now.</p>
        </div>
        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><button class="btn btn-primary border rounded-0 shadow-sm button-white" id="orange-box-button" type="button"><a id="orange-box-link" class="link-base orange-btn" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:connect-with-a-doctor-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:connect-with-a-doctor' %}{% endif %}">Connect now for just ${{ affiliate.affiliate_price|div:100 }}</a></button></div>
        <div class="text-center fade-in">
            <p style="background-color: rgba(0,0,0,0);color: #ffffff;font-family: Antic, sans-serif;">No insurance required</p>
        </div>
    </div>
    {% include 'EasyConnect/standard-footer.html' %}
    <script src="{% static 'EasyConnect/assets/js/fadein.js' %}"></script>

</body>

</html>