{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">
</head>

<body>
    {% include 'EasyConnect/standard_navbar.html' %}
    <div class="d-xl-flex justify-content-xl-center">
        <div style="padding-left: 10%;">
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Privacy Policy</h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from <br>you across our website and other sites we own and operate.<br></p>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Log data<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">When you visit our website, our servers may automatically log the standard data provided by your web browser. <br>It may include your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, <br>the time
                and date of your visit, the time spent on each page, and other details.<br></p>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Device data<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We may also collect data about the device you’re using to access our website. This data may include the device type, <br>operating system, unique device identifiers, device settings, and geo-location data. What we collect can depend on <br>the
                individual settings of your device and software. We recommend checking the policies of your device manufacturer<br> or software provider to learn what information they make available to us.<br></p>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Personal information</h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We may ask for personal information, such as your:<br></p>
            <ul>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Name</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Email</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Social media profiles</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Date of birth</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Phone/mobile number</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Home/Mailing address</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Work address</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Website address</li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">Payment information</li>
            </ul>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">2. Legal bases for processing<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We will process your personal information lawfully, fairly and in a transparent manner. We collect and process <br>information about you only where we have legal bases for doing so.<br></p>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">These legal bases depend on the services you use and how you use them, meaning we collect and use your <br>information only where:<br></p>
            <ul>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">it’s necessary for the performance of a contract to which you are a party or to take steps at your request before <br>entering into such a contract (for example, when we provide a service you request from us);<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">it satisfies a legitimate interest (which is not overridden by your data protection interests), such as for research and <br>development, to market and promote our services, and to protect our legal rights and interests;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">you give us consent to do so for a specific purpose (for example, you might consent to us sending you our <br>newsletter); or<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">we need to process your data to comply with a legal obligation.<br></li>
            </ul>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">Where you consent to our use of information about you for a specific purpose, you have the right to change your <br>mind at any time (but this will not affect any processing that has already taken place).<br></p>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We don’t keep personal information for longer than is necessary. While we retain this information, we will protect it <br>within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying,
                <br>use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure and <br>cannot guarantee absolute data security. If necessary, we may retain your personal information for our compliance
                <br>with a legal obligation or in order to protect your vital interests or the vital interests of another natural person.<br></p>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">3. Collection and use of information<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We may collect, hold, use and disclose information for the following purposes and personal information will not be <br>further processed in a manner that is incompatible with these purposes:<br></p>
            <ul>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to enable you to customize or personalize your experience of our website;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to attribute any content (eg. posts and comments) you submit that we publish on our website;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to process any transactional or ongoing payments;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to deliver products and/or services to you;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to enable you to access and use our website, associated applications and associated social media platforms;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to contact and communicate with you;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">for internal record keeping and administrative purposes;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">for analytics, market research and business development, including to operate and improve our website, <br>associated applications and associated social media platforms;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to run competitions and/or offer additional benefits to you;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">for advertising and marketing, including to send you promotional information about our products and services and <br>information about third parties that we consider may be of interest to you;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to comply with our legal obligations and resolve any disputes that we may have; and<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">to consider your employment application.<br></li>
            </ul>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">4. Disclosure of personal information to third parties<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We may disclose personal information to:<br></p>
            <ul>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">third party service providers for the purpose of enabling them to provide their services, including (without limitation) <br>IT service providers, data storage, web-hosting and server providers, debt collectors, maintenance or problem-<br>solving
                    providers, marketing or advertising providers, professional advisors and payment systems operators;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">our employees, contractors and/or related entities;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">sponsors or promoters of any competition we run;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">credit reporting agencies, courts, tribunals and regulatory authorities, in the event you fail to pay for goods or <br>services we have provided to you;<br></li>
                <li style="font-family: Antic, sans-serif;font-size: 19px;">courts, tribunals, regulatory authorities and law enforcement officers, as required by law, in connection with any <br>actual or prospective legal proceedings, or in order to establish, exercise or defend our legal rights;<br></li>
                <li
                    style="font-family: Antic, sans-serif;font-size: 19px;">third parties, including agents or sub-contractors, who assist us in providing information, products, services or <br>direct marketing to you; and<br></li>
                    <li style="font-family: Antic, sans-serif;font-size: 19px;">third parties to collect and process data.<br></li>
            </ul>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">5. International transfers of personal information<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">The personal information we collect is stored and processed in United States, or where we or our partners, affiliates <br>and third-party providers maintain facilities. By providing us with your personal information, you consent to the <br>disclosure
                to these overseas third parties.<br></p>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">We will ensure that any transfer of personal information from countries in the European Economic Area (EEA) to <br>countries outside the EEA will be protected by appropriate safeguards, for example by using standard data protection <br>clauses
                approved by the European Commission, or the use of binding corporate rules or other legally accepted means.<br></p>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">Where we transfer personal information from a non-EEA country to another country, you acknowledge that third <br>parties in other jurisdictions may not be subject to similar data protection laws to the ones in our jurisdiction. There are <br>risks
                if any such third party engages in any act or practice that would contravene the data privacy laws in our <br>jurisdiction and this might mean that you will not be able to seek redress under our jurisdiction’s privacy laws.<br></p>
            <h1
                style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">6. Your rights and controlling your personal information<br></h1>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Choice and consent:</span>&nbsp;By providing personal information to us, you consent to us collecting, holding, using and <br>disclosing your personal information in accordance with this privacy policy.
                    If you are under 16 years of age, you must <br>have, and warrant to the extent permitted by law to us, that you have your parent or legal guardian’s permission to <br>access and use the website and they (your parents or guardian) have
                    consented to you providing us with your <br>personal information. You do not have to provide personal information to us, however, if you do not, it may affect your <br>use of this website or the products and/or services offered on
                    or through it.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Information from third parties:</span>&nbsp;If we receive personal information about you from a third party, we will protect it as <br>set out in this privacy policy. If you are a third party providing
                    personal information about somebody else, you <br>represent and warrant that you have such person’s consent to provide the personal information to us.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Restrict:</span>&nbsp;You may choose to restrict the collection or use of your personal information. If you have previously agreed <br>to us using your personal information for direct marketing purposes,
                    you may change your mind at any time by <br>contacting us using the details below. If you ask us to restrict or limit how we process your personal information, we <br>will let you know how the restriction affects your use of our website
                    or products and services.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Access and data portability:</span>&nbsp;You may request details of the personal information that we hold about you. You may <br>request a copy of the personal information we hold about you. Where possible,
                    we will provide this information in <br>CSV format or other easily readable machine format. You may request that we erase the personal information we <br>hold about you at any time. You may also request that we transfer this personal
                    information to another third party.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Correction:</span>&nbsp;If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or <br>misleading, please contact us using the details below. We will take
                    reasonable steps to correct any information found <br>to be inaccurate, incomplete, misleading or out of date.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Notification of data breaches:&nbsp;</span>&nbsp;We will comply laws applicable to us in respect of any data breach.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Complaints:</span>&nbsp;If you believe that we have breached a relevant data protection law and wish to make a complaint, <br>please contact us using the details below and provide us with full details of
                    the alleged breach. We will promptly <br>investigate your complaint and respond to you, in writing, setting out the outcome of our investigation and the steps <br>we will take to deal with your complaint. You also have the right to
                    contact a regulatory body or data protection <br>authority in relation to your complaint.<br></p>
                <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Unsubscribe:</span>&nbsp;To unsubscribe from our e-mail database or opt-out of communications (including marketing <br>communications), please contact us using the details below or opt-out using the opt-out
                    facilities provided in the <br>communication.<br></p>
                <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">7. Cookies<br></h1>
                <p style="font-size: 19px;font-family: Antic, sans-serif;margin-right: 0;">We use “cookies” to collect information about you and your activity across our site. A cookie is a small piece of data <br>that our website stores on your computer, and accesses each time you visit, so we can understand how you use our
                    <br>site. This helps us serve you content based on preferences you have specified. Please refer to our Cookie Policy for<br> more information.<br></p>
                <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">8. Business transfers<br></h1>
                <p style="font-size: 19px;font-family: Antic, sans-serif;">If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would <br>include data among the assets transferred to any parties who acquire us. You acknowledge that such transfers may <br>occur,
                    and that any parties who acquire us may continue to use your personal information according to this policy.<br></p>
                <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">9. Limits of our policy<br></h1>
                <p style="font-size: 19px;font-family: Antic, sans-serif;">Our website may link to external sites that are not operated by us. Please be aware that we have no control over <br>the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.<br></p>
                <h1
                    style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">10. Changes to this policy<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">At our discretion, we may change our privacy policy to reflect current acceptable practices. We will take reasonable <br>steps to let users know about changes via our website. Your continued use of this site after any changes to this
                        <br>policy will be regarded as acceptance of our practices around privacy and personal information.<br></p>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">If we make a significant change to this privacy policy, for example changing a lawful basis on which we process <br>your personal information, we will ask you to re-consent to the amended privacy policy.<br></p>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Our Data Controller</span>&nbsp;<br>Definitely not vantmarketing.com</p>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;"><span style="font-weight: bold;">Our Data Protection Officer</span>&nbsp;<br>Also not vantmarketing.com</p>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">This policy is not effective as of 25 May 2020<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Terms of Service</h1>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">1. Terms<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">By accessing our website, you are agreeing to be bound by these terms of service, all applicable laws and <br>regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree <br>with
                        any of these terms, you are prohibited from using or accessing this site. The materials contained in this website <br>are protected by applicable copyright and trademark law.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">2. Use License<br></h1>
                    <ol>
                        <li style="font-family: Antic, sans-serif;font-size: 19px;">Permission is granted to temporarily download one copy of the materials (information or software) on our website <br>for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title,
                            and under <br>this license you may not: <br>
                            <ol>
                                <li style="font-family: Antic, sans-serif;font-size: 19px;">modify or copy the materials;<br></li>
                                <li style="font-family: Antic, sans-serif;font-size: 19px;">use the materials for any commercial purpose, or for any public display (commercial or non-commercial);<br></li>
                                <li style="font-family: Antic, sans-serif;font-size: 19px;">attempt to decompile or reverse engineer any software contained on our website;<br></li>
                                <li style="font-family: Antic, sans-serif;font-size: 19px;">remove any copyright or other proprietary notations from the materials; or<br></li>
                                <li style="font-family: Antic, sans-serif;font-size: 19px;">transfer the materials to another person or “mirror” the materials on any other server.<br></li>
                            </ol>
                        </li>
                        <li style="font-family: Antic, sans-serif;font-size: 19px;">This license shall automatically terminate if you violate any of these restrictions and may be terminated by us at <br>any time. Upon terminating your viewing of these materials or upon the termination of this license, you must
                            <br>destroy any downloaded materials in your possession whether in electronic or printed format.<br></li>
                    </ol>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">3. Disclaimer<br></h1>
                    <ol>
                        <li style="font-family: Antic, sans-serif;font-size: 19px;">The materials on our website are provided on an ‘as is’ basis. We make no warranties, expressed or implied, and <br>hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions
                            of <br>merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of <br>rights.<br></li>
                        <li style="font-family: Antic, sans-serif;font-size: 19px;">Further, we do not warrant or make any representations concerning the accuracy, likely results, or reliability of the <br>use of the materials on our website or otherwise relating to such materials or on any sites linked to this
                            site.<br></li>
                    </ol>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">4. Limitations<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">In no event shall we or our suppliers be liable for any damages (including, without limitation, damages for loss of data <br>or profit, or due to business interruption) arising out of the use or inability to use the materials on our
                        website, even if <br>we or an authorized representative has been notified orally or in writing of the possibility of such damage. Because <br>some jurisdictions do not allow limitations on implied warranties, or limitations of
                        liability for consequential or <br>incidental damages, these limitations may not apply to you.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">5. Accuracy of materials<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">The materials appearing on our website could include technical, typographical, or photographic errors. We do not <br>warrant that any of the materials on our website are accurate, complete or current. We may make changes to the <br>materials
                        contained on our website at any time without&nbsp;notice. However we do not make any commitment to update <br>the materials.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">6. Links<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">We have not reviewed all of the sites linked to our website and is not responsible for the contents of any such linked <br>site. The inclusion of any link does not imply endorsement by us of the site. Use of any such linked website
                        is at the <br>user’s own risk.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">7. Modifications<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">We may revise these terms of service for our website at any time without notice. By using this website you are <br>agreeing to be bound by the then current version of these terms of service.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">8. Governing Law<br></h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">These terms and conditions are governed by and construed in accordance with the laws of the State and you <br>irrevocably submit to the exclusive jurisdiction of the courts in that State or location.<br></p>
                    <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Cookie Policy</h1>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">We use cookies to help improve your experience of our website. This cookie policy is part of our privacy policy, and <br>covers the use of cookies between your device and our site. We also provide basic information on third-party services
                        <br>we may use, who may also use cookies as part of their service, though they are not covered by our policy.<br></p>
                    <p style="font-size: 19px;font-family: Antic, sans-serif;">If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from our website, with <br>the understanding that we may be unable to provide you with some of your desired content and services.<br></p>
                    <h1
                        style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">What is a cookie?<br></h1>
                        <p style="font-size: 19px;font-family: Antic, sans-serif;">A cookie is a small piece of data that a website stores on your device when you visit, typically containing information <br>about the website itself, a unique identifier that allows the site to recognize your web browser when you
                            return, <br>additional data that serves the purpose of the cookie, and the lifespan of the cookie itself.<br></p>
                        <p style="font-size: 19px;font-family: Antic, sans-serif;">Cookies are used to enable certain features (eg. logging in), to track site usage (eg. analytics), to store your user <br>settings (eg. timezone, notification preferences), and to personalize your content (eg. advertising, language).<br></p>
                        <p
                            style="font-size: 19px;font-family: Antic, sans-serif;">Cookies set by the website you are visiting are normally referred to as “first-party cookies”, and typically only track <br>your activity on that particular site. Cookies set by other sites and companies (ie. third parties) are
                            called “third-party <br>cookies”, and can be used to track you on other websites that use the same third-party service.<br></p>
                            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">Types of cookies and how we use them<br></h1>
                            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Essential cookies<br></h1>
                            <p style="font-size: 19px;font-family: Antic, sans-serif;">Essential cookies are crucial to your experience of a website, enabling core features like user logins, account <br>management, shopping carts and payment processing. We use essential cookies to enable certain functions <br>on
                                our website.<br></p>
                            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Performance cookies<br></h1>
                            <p style="font-size: 19px;font-family: Antic, sans-serif;">Performance cookies are used in the tracking of how you use a website during your visit, without collecting personal <br>information about you. Typically, this information is anonymous and aggregated with information tracked
                                across all <br>site users, to help companies understand visitor usage patterns, identify and diagnose problems or errors their users <br>may encounter, and make better strategic decisions in improving their audience’s overall
                                website experience. These <br>cookies may be set by the website you’re visiting (first-party) or by third-party services. We use performance cookies <br>on our site.<br></p>
                            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Functionality cookies<br></h1>
                            <p style="font-size: 19px;font-family: Antic, sans-serif;">Functionality cookies are used in collecting information about your device and any settings you may configure on the <br>website you’re visiting (like language and timezone settings). With this information, websites&nbsp;can
                                provide you with <br>customized, enhanced or optimized content and services. These cookies may be set by the website you’re visiting <br>(first-party) or by third-party service. We use functionality cookies for selected
                                features on our site.<br></p>
                            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Targeting/advertising cookies<br></h1>
                            <p style="font-size: 19px;font-family: Antic, sans-serif;">Targeting/advertising cookies are used in determining what promotional content is more relevant and appropriate to <br>you and your interests. Websites may use them to deliver targeted advertising or to limit the number of
                                times you see <br>an advertisement. This helps companies improve the effectiveness of their campaigns and the quality of content<br> presented to you. These cookies may be set by the website you’re visiting (first-party)
                                or by third-party services. <br>Targeting/advertising cookies set by third-parties may be used to track you on other websites that use the same <br>third-party service. We use targeting/advertising cookies on our site.<br></p>
                            <h1
                                style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">Third-part cookies on our site<br></h1>
                                <p style="font-size: 19px;font-family: Antic, sans-serif;">We may employ third-party companies and individuals on our websites—for example, analytics providers and <br>content partners. We grant these third parties access to selected information to perform specific tasks on our
                                    behalf. <br>They may also set third-party cookies in order to deliver the services they are providing. Third-party cookies can be <br>used to track you on other websites that use the same third-party service. As we have
                                    no control over third-party <br>cookies, they are not covered by our cookie policy.<br></p>
                                <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Our third-party privacy promise<br></h1>
                                <p style="font-size: 19px;font-family: Antic, sans-serif;">We review the privacy policies of all our third-party providers before enlisting their services to ensure their practices <br>align with ours. We will never knowingly include third-party services that compromise or violate
                                    the privacy of our <br>users.<br></p>
                                <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">How you can control or opt out of cookies<br></h1>
                                <p style="font-size: 19px;font-family: Antic, sans-serif;">If you do not wish to accept cookies from us, you can instruct your browser to refuse cookies from our website. Most <br>browsers are configured to accept cookies by default, but you can update these settings to either refuse
                                    cookies <br>altogether, or to notify you when a website is trying to set or update a cookie.<br></p>
                                <p style="font-size: 19px;font-family: Antic, sans-serif;">If you browse websites from multiple devices, you may need to update your settings on each individual device.<br></p>
                                <p style="font-size: 19px;font-family: Antic, sans-serif;">Although some cookies can be blocked with little impact on your experience of a website, blocking all cookies may <br>mean you are unable to access certain features and content across the sites you visit.<br></p>
        </div>
    </div>
    {% include 'EasyConnect/standard-footer.html' %}
</body>

</html>