{% load static %}
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-xl-flex" style="background-color: #ffffff;filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%);">
        <div class="container">
            <div><a class="navbar-brand" href="{% url 'easyconnect:dashboard' %}" style="margin-right: 0;"><img src="{% get_static_prefix %}EasyConnect/assets/img/Logo-nav.png" alt="Easy Connect MD logo" style="margin-left: 0;"><br></a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="margin-left: 14px;padding: 0;padding-right: 7px;padding-left: 6px;margin-top: 0;height: 40px;margin-bottom: -11px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>