{% load static %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img src="{% get_static_prefix %}EasyConnect/assets/img/Logo-footer.png"></div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 50px;font-family: Antic, sans-serif;">EasyConnectMD © 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><a id="privacy-policy" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:privacy-policy-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:privacy-policy' %}{% endif %}" style="color: rgb(122,122,122);font-family: Antic, sans-serif;">Privacy Policy</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/bootstrap/js/bootstrap.min.js"></script>
