{% load static %}
    <nav class="navbar navbar-light navbar-kcmd navbar-expand-md fixed-top bg-body-tertiary">
        <a class="navbar-brand" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:index-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:index' %}{% endif %}" style="margin-right: 0;"><img src="{% get_static_prefix %}{{ affiliate.affiliate_logo }}" alt="Easy Connect MD logo" style="margin-left: 0;"><br></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-2" style="font-size: 22px;">
                <li class="nav-item" role="presentation" style="padding: 0; padding-right: 13px;">
                    <a class="nav-link navi-item our-story-hack" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:index-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:index' %}{% endif %}">
                        Home
                    </a>
                </li>
                <li class="nav-item" role="presentation" style="padding: 0; padding-right: 13px;">
                    <a class="nav-link navi-item our-story-hack" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:our-story-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:our-story' %}{% endif %}">
                        Our Story
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="btn btn-primary border rounded-0 button-white" type="button">
                        <a id="nav-button" class="link-base button-transparent" href="{% if affiliate.affiliate_url %}{% url 'easyconnect:connect-with-a-doctor-affiliate' affiliate.affiliate_url %}{% else %}{% url 'easyconnect:connect-with-a-doctor' %}{% endif %}">
                            Book Now
                        </a>
                    </button>
                </li>
            </ul>
        </div>
    </nav>