{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>connectMD</title>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">

</head>

<body id="videoBody">
    <div class="text-center">
        <h1 style="margin-bottom: 16px;">Video Chat</h1>
        <p style="margin-bottom: 6px;font-size: 16px;color: rgb(31,51,71);"><strong>1. Select the "Click to Start Video Chat" button below.</strong></p>
        <p style="font-size: 16px;"><strong>2. The doctor will be with you in less than 10 minutes, on average.</strong></p>
        <p style="font-size: 15px;"><em>Need technical support</em><br><em>Click on "Need Help?" (top right) or email info@easyconnectmd.net</em></p>
    </div>
    <section class="d-flex" id="chatSection">
        <div id="otEmbedContainer" style="width:800px; height:640px"></div> <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=032c81ed-9c14-43b2-89fa-59e4e1ecc59b&room={{ patient_id }}"></script
    </section>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>