{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">

</head>

<body id="videoBody">
    <div>
        <div class="text-center">
            <h1 style="margin-bottom: 16px;">Video Chat</h1>
            <p style="margin-bottom: 6px;font-size: 16px;color: rgb(31,51,71);"><strong>1. Select the "Start Video Chat" button below.</strong></p>
            <p style="font-size: 16px;"><strong>2. The doctor will be with you in less than 10 minutes, on average.</strong></p>
            <p style="font-size: 15px;"><em>Need technical support</em><br><em>Click on "Need Help?" (top right) or email <a href="mailto:info@easyconnectmd.net">info@easyconnectmd.net</a></em></p>
        </div>
        <section class="d-flex text-center" id="chatSection">
             <div id="chat_container">
                <div id="local" class="participant"><div></div><div>Me</div></div>
                <!-- more participants will be added dynamically here -->
            </div>
            <div id="count">Click the button to join</div>
            <button id="join_leave" type="button">Start Video Chat</button>
        </section>
        <div id="username" class="hidden">{{ username }}</div>
        <div id="patient_id" class="hidden">{{ patient_id }}</div>
    </div>
    {% include 'EasyConnect/standard-footer.html' %}
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/video.js"></script>
</body>

</html>