{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EasyConnectMD</title>
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}EasyConnect/assets/img/favicon-color.png"/>
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/styles.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/untitled.css">

    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}EasyConnect/assets/css/Social-Icons.css">
    {% include 'EasyConnect/tracking_codes.html' %}
</head>

<body id="videoBody">
    <div>
        <div class="text-center">
            <h1 style="margin-bottom: 16px;">Video Chat</h1>
            <p style="margin-bottom: 6px;font-size: 16px;color: rgb(31,51,71);"><strong>1. Select the "Start Video Chat" button below.</strong></p>
            <p style="font-size: 16px;"><strong>2. The doctor will be with you in less than 10 minutes, on average.</strong></p>
            <p style="font-size: 15px;"><em>Need technical support</em><br><em>Email <a href="mailto:info@easyconnectmd.com">info@easyconnectmd.com</a></em> or message us on <a href="https://www.facebook.com/EasyConnectMedical/" target="_blank">Facebook</a> </p>
            <button id="join_leave" class="btn btn-primary border rounded-0 button-transparent button-white" style="padding: 1.5em" type="button">Start Video Chat</button>
        </div>
        <div class="chat_container">
            <section class="chatSection" style="width:90%;" id="chatSection">
                     <div id="local" class="participant"><div></div></div>
            </section>
        </div>
        <div id="username" class="hidden">{{ username }}</div>
        <div id="usertype" class="hidden">patient</div>
        <div id="patient_id" class="hidden">{{ patient_id }}</div>
    </div>
    <div id="log" class="d-none"></div>
    {% include 'EasyConnect/standard-footer.html' %}
    <script src="https://sdk.twilio.com/js/video/releases/2.15.2/twilio-video.min.js"></script>
    <script src="{% get_static_prefix %}EasyConnect/assets/js/video.js"></script>
</body>

</html>

