<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>connectMD</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div style="margin-left: 20%;">
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Privacy Policy</h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from <br>you across our website and other sites we own and operate.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">1. Information we collect<br></h1>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Log data<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">When you visit our website, our servers may automatically log the standard data provided by your web browser. <br>It may include your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, <br>the time and
            date of your visit, the time spent on each page, and other details.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Device data<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We may also collect data about the device you’re using to access our website. This data may include the device type, <br>operating system, unique device identifiers, device settings, and geo-location data. What we collect can depend on <br>the
            individual settings of your device and software. We recommend checking the policies of your device manufacturer<br> or software provider to learn what information they make available to us.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 20px;">Personal information</h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We may ask for personal information, such as your:<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">2. Legal bases for processing<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We will process your personal information lawfully, fairly and in a transparent manner. We collect and process <br>information about you only where we have legal bases for doing so.<br></p>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">These legal bases depend on the services you use and how you use them, meaning we collect and use your <br>information only where:<br></p>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">Where you consent to our use of information about you for a specific purpose, you have the right to change your <br>mind at any time (but this will not affect any processing that has already taken place).<br></p>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We don’t keep personal information for longer than is necessary. While we retain this information, we will protect it <br>within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, <br>use
            or modification. That said, we advise that no method of electronic transmission or storage is 100% secure and <br>cannot guarantee absolute data security. If necessary, we may retain your personal information for our compliance <br>with a
            legal obligation or in order to protect your vital interests or the vital interests of another natural person.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">3. Collection and use of information<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We may collect, hold, use and disclose information for the following purposes and personal information will not be <br>further processed in a manner that is incompatible with these purposes:<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">4. Disclosure of personal information to third parties<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We may disclose personal information to:<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">5. International transfers of personal information<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">The personal information we collect is stored and processed in United States, or where we or our partners, affiliates <br>and third-party providers maintain facilities. By providing us with your personal information, you consent to the <br>disclosure
            to these overseas third parties.<br></p>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We will ensure that any transfer of personal information from countries in the European Economic Area (EEA) to <br>countries outside the EEA will be protected by appropriate safeguards, for example by using standard data protection <br>clauses
            approved by the European Commission, or the use of binding corporate rules or other legally accepted means.<br></p>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">Where we transfer personal information from a non-EEA country to another country, you acknowledge that third <br>parties in other jurisdictions may not be subject to similar data protection laws to the ones in our jurisdiction. There are <br>risks
            if any such third party engages in any act or practice that would contravene the data privacy laws in our <br>jurisdiction and this might mean that you will not be able to seek redress under our jurisdiction’s privacy laws.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">6. Your rights and controlling your personal information<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">We may collect, hold, use and disclose information for the following purposes and personal information will not be further processed in a manner that is incompatible with these purposes:<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">7. Cookies<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;margin-right: 0;">We use “cookies” to collect information about you and your activity across our site. A cookie is a small piece of data <br>that our website stores on your computer, and accesses each time you visit, so we can understand how you use our <br>site.
            This helps us serve you content based on preferences you have specified. Please refer to our Cookie Policy for<br> more information.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">8. Business transfers<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would <br>include data among the assets transferred to any parties who acquire us. You acknowledge that such transfers may <br>occur,
            and that any parties who acquire us may continue to use your personal information according to this policy.<br></p>
        <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">9. Limits of our policy<br></h1>
        <p style="font-size: 19px;font-family: Antic, sans-serif;">Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.<br></p>
        <h1
            style="font-family: Antic, sans-serif;font-weight: bold;font-size: 23px;">10. Changes to this policy<br></h1>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">At our discretion, we may change our privacy policy to reflect current acceptable practices. We will take reasonable <br>steps to let users know about changes via our website. Your continued use of this site after any changes to this policy
                will be regarded as acceptance of our practices around privacy and personal information.<br></p>
            <p style="font-size: 19px;font-family: Antic, sans-serif;">If we make a significant change to this privacy policy, for example changing a lawful basis on which we process your personal information, we will ask you to re-consent to the amended privacy policy.<br></p>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Terms of Service</h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;">Cookie Policy</h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
            <h1 style="font-family: Antic, sans-serif;font-weight: bold;font-size: 25px;">1. Information we collect<br></h1>
    </div>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-xl-flex" style="background-color: #ffffff;filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%);">
        <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/Logo-nav.png" style="margin-left: 20%;"><br></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 22px;margin: 0px;">
                    <li class="nav-item" role="presentation" style="padding: 0px;padding-right: 13px;"><a class="nav-link" href="about.html" style="font-family: Antic, sans-serif;font-size: 24px;">Our Story</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="faq.html" style="padding-right: 25px;font-family: Antic, sans-serif;font-size: 24px;">FAQs</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: -41px;"><a class="nav-link orange-border-button orange-font" id="orange-font" href="#">Book Now</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-center"><img src="assets/img/Logo-footer.png"></div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 0px;padding-top: 1px;font-family: Antic, sans-serif;">made in Germany</p>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="padding-top: 0px;padding-right: 6px;padding-bottom: 8px;">
                        <p class="d-xl-flex copyright" style="font-size: 20px;height: 50px;font-family: Antic, sans-serif;">Easy Connect MD © 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-center"><a id="privacy-policy" href="privacyPolicy.html" style="color: rgb(122,122,122);font-family: Antic, sans-serif;">Privacy Policy</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>